# Supabase Project Credentials
# Create a copy of this file and rename it to `.env` representing your deployment environment
# DO NOT COMMIT YOUR `.env` FILE TO VERSION CONTROL

VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_your_key_here
